alembic
Authlib
bcrypt
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
firebase-admin
python-dotenv
click
cryptography
gunicorn
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-OAuthlib
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
google-auth
google-auth-oauthlib
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
oauthlib
pyasn1
pyasn1_modules
pycparser
python-decouple
requests
requests-oauthlib
rsa
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
authlib
flask_dance
google-generativeai
