<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoyageX</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="home">

        <header>
            <div id="container">
                <div>
                    <img class="bb" src="../static/img/logo.png" alt="Logo">
                </div>
                <nav>
                <ul class="list">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#features">Features</a></li>
                </ul>
            </nav>
            <div>
                <button class="auth_button"><a href="{{ url_for('register') }}">Register</a></button>
                <button class="auth_button"><a href="{{ url_for('login') }}">Login</a></button>
            </div>    
        </div>
    </header>
    
    <div class="l1">
        <div class="content">
            <img src="../static/img/main.png" alt="Main Image">
        </div>
    </div>
    
</div>
    <div id="about">
        <div class="con1">
            <h1>About Us</h1>
            <p>Our AI-powered travel planner simplifies trip planning by creating personalized itineraries based on your preferences. Whether you're seeking adventure, relaxation, or cultural experiences, we've got you covered with the perfect plan.</p>
        </div>
    </div>

    <div id="features">
        <div class="con2">
            <h1>Features</h1>
            <div style="height: 20px;"></div>
            <div class="box1">
                <div class="j">
                    <img src="../static/img/feature_1.png" alt="Feature 1">
                </div>
                <div class="j2">
                    <img src="../static/img/feature_3.png" alt="Feature 2">
                </div>
                <div class="j3">
                    <img src="../static/img/feature_2.png" alt="Feature 3">
                </div>
            </div>
        </div>
    </div>
    

    <div class="copy-right">
        <footer>
            &copy; 2024 Your Website. All rights reserved.
        </footer>
    </div>

    <!-- Smooth scrolling -->
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function(e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>
</html>
